.mob-nav .offcanvas-top {
  background-color: #05050b;
  height: 100vh !important;
  width: 100vw !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  position: absolute !important;
  left: -17px;
  top: -15px;
  min-width: fit-content;
}

.mob-nav .sidebar {
  height: 95vh;
  width: 95vw;
  position: relative;
  min-width: fit-content;
}

.mob-nav .sidebar .accordion-button {
  margin-left: 2rem !important;
}

.mob-nav #close-btn {
  position: absolute;
  z-index: 5;
  top: 1.6rem;
  right: 3rem;
}
