.cards_con {
  margin-top: 5rem;
}

.cards {
  background-color: var(--cardColor);
  padding: 1.2rem 0rem;
  border-radius: 25px;
  box-shadow: var(--shadow);
  text-align: center;
}

.cards .title {
  color: rgb(126, 126, 126);
}

@media only screen and (max-width: 766px) {
  .cards_con {
    margin-top: 8rem;
  }
}
