.stake .cards {
  margin-top: 80px;
  max-width: 900px;
}

.stake .accordion-body {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 15px;
  background-color: #1b1e25; */
}

.stake .accordion-body .acc-box {
  max-width: 300px;
  background-color: #1b1e25;
  padding: 1rem;
  border-radius: 15px;
}

body.light .stake .accordion-body .acc-box {
  background-color: rgb(240, 240, 240);
}

.stake .accordion-body input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: 2px solid var(--text);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  color: var(--text);
}

.stake .title {
  color: rgb(126, 126, 126);
  font-size: 0.7rem;
}

.stake .data {
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 600;
}

.stake .cards .circle,
.stake .circle2 {
  border: 2px solid var(--text);
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
}

.stake .cards .circle2 {
  margin-left: -15px;
  background-color: rgb(131, 214, 214);
}

.stake .stake-btn button {
  padding: 0.5rem;
}

.stake .stake-btn {
  width: 35%;
  text-align: center;
}

.stake .stake-btn i {
  color: var(--text);
}

.stake .silent {
  color: var(--text);
  font-size: 0.8rem;
}

@media only screen and (max-width: 766px) {
  .stake .stake-btn {
    width: 100%;
  }

  .stake .tvl {
    width: 100%;
  }
}

@media only screen and (max-width: 766px) {
  .footer {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .stake .ps-lg-5 {
    padding-left: 6rem !important;
  }
}

@media only screen and (min-width: 1180px) {
  .stake .ps-lg-5 {
    padding-left: 3rem !important;
  }
}
