.stake .cards {
  margin-top: 80px;
  max-width: 900px;
}

.stake .title {
  color: rgb(126, 126, 126);
}

.stake .data {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 600;
}

.stake .cards .circle,
.stake .circle2 {
  border: 2px solid var(--text);
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50%;
}

.stake .cards .circle2 {
  margin-left: -10px;
  background-color: rgb(131, 214, 214);
}

.stake .stake-btn button {
  padding: 0.5rem;
}

.stake .stake-btn {
  width: 35%;
}

.stake .silent {
  color: #656971;
}

@media only screen and (max-width: 766px) {
  .stake .cards {
    margin-top: 120px;
  }

  .stake .stake-btn {
    width: 100%;
  }

  .stake .tvl {
    width: 100%;
  }
}
