@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

[data-theme="light"] {
  --bgColor: #fff;
  --text: #000;
}
[data-theme="dark"] {
  --bgColor: #1f2027;
  --text: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
}

body {
  /* background-color: var(--bgColor); */
  /* color: var(--text); */
  background-color: #1f2027;
  color: white;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #82868e5a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #82868e;
}
